* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.container .box-1 {
  width: 100%;
  height: 700px;
  background-image: url("../assets/img/main_photo.png");
}

.container .box-1 #carouselExampleIndicators {
  height: 85%;
  text-align: center;
}

.container .box-1 #carouselExampleIndicators .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.container .box-1 #carouselExampleIndicators .carousel-inner .carousel-item {
  font-family: sans-serif;
}

.container .box-1 #carouselExampleIndicators .carousel-inner .carousel-item h5 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

.container .box-1 #carouselExampleIndicators .carousel-inner .carousel-item h3 {
  font-size: 52px;
  font-weight: 600;
  color: #fff;
}

.container .box-1 #carouselExampleIndicators .carousel-inner .carousel-item p {
  color: #fff;
}

.container .box-1 #carouselExampleIndicators .carousel-inner .carousel-item button {
  font-weight: 600;
  font-size: 14px;
}

.container .box-2 {
  width: 100%;
  margin-bottom: 80px;
}

.container .box-2 .card {
  border: none;
  text-align: center;
}

.container .box-2 .card .borderBottom {
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.container .box-2 .card .borderBottom:hover {
  background-color: #c7b299;
}

.container .box-3 .col-12 {
  text-align: center;
}

.container .box-3 .col-12 h3 {
  font-size: 30px;
  color: #555555;
}

.container .box-3 .col-12 p {
  font-style: 16px;
  color: #555555;
}
/*# sourceMappingURL=main.css.map */