* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;

  .box-1 {
    width: 100%;
    height: 700px;
    background-image: url('../assets/img/main_photo.png');

    #carouselExampleIndicators {
      height: 85%;
      text-align: center;
      .carousel-indicators{
        li{
          width: 15px;
          height: 15px;
          border-radius: 100%;
        }
      }
      .carousel-inner {
        .carousel-item {
          font-family: sans-serif;

          h5 {
            font-size: 36px;
            font-weight: 400;
            color: #fff;
          }
          h3{
            font-size: 52px;
            font-weight: 600;
            color: #fff;
          }
          p{
            color: #fff;         
          }
          button{
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }
  .box-2{
    width: 100%;
    margin-bottom: 80px;
    .card{
      border: none;
      text-align: center; 
      .borderBottom{
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        
      }
      .borderBottom:hover{
        background-color: #c7b299;
      }
    }
  }
  .box-3{
    background-color: #fbfaf8;
    .col-12{
      text-align: center;
      h3{
        font-size: 30px;
        color: #555555;

      }
      p{
        font-style: 16px;
        color: #555555;
      }
    }
  }
  .box-4{
    margin-top: 120px;
    height: 100%;
    position: relative;
    background-color: #fbfaf8;
    .left{
      background-image: url('../assets/img/box-4browser-left.png');
      height: 400px;
    }
    .right{
      background-image: url('../assets/img/box-4browser-right.png');
      height: 400px;
    }
    .center{
      position: absolute;
      z-index: 1;
      width: 100%;
      top: -50px;
      height: 450px;
      background-image: url('../assets/img/box-4browser-center.png');
    }  
  }
  .box-5{
    height: 150px;
    background-color: #32251f;
    .col-5{
      color: #fff;
    }
    .col-2{
      .btn:hover{
        background-color: #998675;
      }
    }
  }
}
