html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet" href="./styles/style.css")
    body
        .logo
        span Hello world
        .class1 text